<%= form_with(model: bloco_apto, local: true) do |form| %>
  <% if bloco_apto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bloco_apto.errors.count, "error") %> prohibited this bloco_apto from being saved:</h2>

      <ul>
      <% bloco_apto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bloco %>
    <%= form.text_field :bloco %>
  </div>

  <div class="field">
    <%= form.label :apto %>
    <%= form.text_field :apto %>
  </div>

  <div class="field">
    <%= form.label :morador_id %>
    <%= form.text_field :morador_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
