<p id="notice"><%= notice %></p>

<h1>Bloco Aptos</h1>
<%= link_to 'New Bloco Apto', new_bloco_apto_path %>
<br>
<table id="example" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Bloco</th>
      <th>Apto</th>
      <th>Morador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bloco_aptos.each do |bloco_apto| %>
      <tr>
        <td><%= bloco_apto.bloco %></td>
        <td><%= bloco_apto.apto %></td>
        <td><%= bloco_apto.morador.nome %></td>
        <td><%= link_to 'Show', bloco_apto %></td>
        <td><%= link_to 'Edit', edit_bloco_apto_path(bloco_apto) %></td>
        <td><%= link_to 'Destroy', bloco_apto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Bloco</th>
      <th>Apto</th>
      <th>Morador</th>
      <th colspan="3"></th>
    </tr>
  </tfoot>
</table>
