<p id="notice"><%= notice %></p>

<p>
  <strong>Bloco:</strong>
  <%= @bloco_apto.bloco %>
</p>

<p>
  <strong>Apto:</strong>
  <%= @bloco_apto.apto %>
</p>

<p>
  <strong>Morador:</strong>
  <%= @bloco_apto.morador %>
</p>

<%= link_to 'Edit', edit_bloco_apto_path(@bloco_apto) %> |
<%= link_to 'Back', bloco_aptos_path %>
