<p id="notice"><%= notice %></p>

<p>
  <strong>Num telefone:</strong>
  <%= @telefone.num_telefone %>
</p>

<p>
  <strong>Morador:</strong>
  <%= @telefone.morador %>
</p>

<%= link_to 'Edit', edit_telefone_path(@telefone) %> |
<%= link_to 'Back', telefones_path %>
