<h1>Tela Inicial - Cadastro</h1>

<ul>
    <li><%= link_to  "Cadastrar Morador", new_morador_path %></li>
    <li><%= link_to  "Listar moradores", moradors_path %></li>
    <li><%= link_to  "Listar Blocos e Apartamentos", bloco_aptos_path %></li>
</ul>