<div class="nested-fields">
    <div class="field">
        <%= f.label :placa %>
        <%= f.text_field :placa, class: "carro-field" %>
        <%= f.label :modelo %>
        <%= f.text_field :modelo, class: "carro-field" %>
        <%= f.label :cor %>
        <%= f.text_field :cor, class: "carro-field" %>
        <%= link_to_remove_association("remover", f) %>
    </div>
</div>
