<%= form_with(model: morador, class: "form", local: true) do |form| %>

  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :tipo %>
    <%= form.select :tipo, options_for_tipos_func_application_helper(@morador.tipo) %>
  </div>

  <%= form.fields_for :bloco_apto do |bloco_apto_fields|%>
    <div class="form-group">
      <%= bloco_apto_fields.label :bloco %>
      <%= bloco_apto_fields.select :bloco, options_for_blocos_func_application_helper(@morador.bloco_apto.bloco) %>
    </div>
    <div class="form-group">
      <%= bloco_apto_fields.label :apto %>
      <%= bloco_apto_fields.select :apto, options_for_aptos_func_application_helper(@morador.bloco_apto.apto) %>
    </div>
  <% end %>

  <div id="telefones">
    <%= form.label :telefones %>

    <%= form.fields_for :telefones do |telefones_fields| %>
      <%= render partial: "telefone_fields", locals: {f: telefones_fields} %>
    <% end %>

    <div class="form-group">
      <%= form.label :telefones, ">" %><br>
      <%= link_to_add_association('[Adicionar Telefone]', form, :telefones) %>
    </div>

  </div>

  <div id="carros">
    <%= form.label :carros %>
    
    <%= form.fields_for :carros do |carros_fields| %>
      <%= render partial: "carro_fields", locals: {f: carros_fields} %>
    <% end %>

    <div class="form-group">
      <%= form.label :carros, ">" %><br>
      <%= link_to_add_association('[Adicionar Carro]', form, :carros) %>
    </div>

  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>

  <% if morador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(morador.errors.count, "error") %> prohibited this morador from being saved:</h2>

      <ul>
      <% morador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
