<p id="notice"><%= notice %></p>

<h1>Moradors</h1>
<%= link_to 'New Morador', new_morador_path %>
<br>
<br>
<table id="example" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>Bl | Ap</th>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Email</th>
      <th>Tipo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @moradors.each do |morador| %>
      <tr>
        <td><%= "#{morador.bloco_apto.bloco}#{morador.bloco_apto.apto}".to_i %></td>
        <td><%= morador.nome %></td>
        <td><%= morador.cpf %></td>
        <td><%= morador.email %></td>
        <td><%= morador.tipo %></td>
        <td>
          <%= link_to 'Show', morador %>
          <%= link_to 'Edit', edit_morador_path(morador) %>
          <%= link_to 'Destroy', morador, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Bl | Ap</th>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Email</th>
      <th>Tipo</th>
      <th></th>
    </tr>
  </tfoot>
</table>
<%= link_to 'New Morador', new_morador_path %>