<!DOCTYPE html>
<html>
  <head>
    <title>CondominioProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    
    <script>
      $(document).ready(function() {
        $('#example').DataTable( {
          "order": [[ 0, "asc" ]],
          "pagingType": "simple_numbers",
          "language": {
              "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
          }
        } );
      } );
    </script>
  </body>
</html>
